<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>model deploy</title>
</head>
<body>
    <h1>MODEL DEPLOY</h1>
    <div class="form_ready">
        <p>ENTER THE AREA</p>
        <form action="/sub" method="POST" class="form1">
            <input type="text" name="username" placeholder="Enter Area">
            <button type="submit" class="submit1">predict</button>
        </form>
    </div>
</body>
</html>
